#moeda_clicavel {
    width: 300px;  
    height: auto;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 15vh;
}

#div_moeda {
    display: flex;
    justify-content: center; 
    margin-top: 30px;        
    flex-grow: 1; /* Faz ela ocupar todo o espaço central */
}

.div_top10 {
    position: fixed;
    right: 20px;
    top: 150px;
    background-color: rgba(0, 0, 0, 0.226);
}

#moeda_clicavel:active {
    transform: scale(0.95); /*Efeito de clique daora */
}

#info_jogador {
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: black;
    display: inline-block;
    min-height: 100vh;
}

#div_titulo {
    border-bottom: 2px solid black;
}

#div_centralizar {
    display: flex;
    align-items: center;
    height: 100vh;
}