#moeda_clicavel {
    width: 300px;  
    height: auto;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 15vh;
}

#div_moeda {
    display: flex;
    justify-content: center; 
    margin-top: 30px;        
}

.div_top10 {
    position: fixed;
    right: 20px;
    top: 150px;
    background-color: rgba(0, 0, 0, 0.226);
}

#moeda_clicavel:active {
    transform: scale(0.95); /*Efeito de clique daora */
}

#info_jogador {
    border-width: 0ch;
    border: 2px solid black;
    display: inline-block;
}

#div_titulo {
    border-bottom: 2px solid black;
}